bin/
.classpath
.project
.settings/
*/.DS_Store
src/main/resources/assets/images/hud/.DS_Store
target
**/.DS_Store
.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
